xml/crm_mon.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <start>
        <ref name="element-crm_mon-old"/>
    </start>

    <define name="element-crm_mon-old">
        <element name="crm_mon">
            <attribute name="version"> <text/> </attribute>
            <externalRef href="api/crm_mon-2.3.rng" />
        </element>
    </define>

</grammar>
